/*************************
*
*  Featured Module 4
*
*************************/
.atbs-featured-module-4 .atbs-block__inner {
    padding-bottom: 120px;
    padding-top: 80px;
}

.atbs-featured-module-4  .owl-carousel .owl-dots {
    padding-top: 40px;
}

.atbs-featured-module-4  .owl-carousel {
    padding: 0 100px;
}


.atbs-featured-module-4 .owl-carousel .owl-stage-outer {
    overflow: visible;
}
.atbs-featured-module-4 .owl-item .post--vertical-rectangle-reverse .post__text {
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.atbs-featured-module-4 .owl-item .post--vertical-rectangle-reverse .post__thumb a {
    top: -80px;
}
.atbs-featured-module-4 .owl-item.active + .owl-item .post--vertical-rectangle-reverse .post__thumb a,
.atbs-featured-module-4 .owl-item.active + .owl-item + .owl-item .post--vertical-rectangle-reverse .post__thumb a {
    top: 80px;
}
.atbs-featured-module-4 .owl-item.active .post--vertical-rectangle-reverse .post__thumb a {
    top: 0;
}
.atbs-featured-module-4 .owl-item.active .post--vertical-rectangle-reverse .post__text {
    opacity: 1;
}

.post--vertical-rectangle-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.post--vertical-rectangle-reverse .post__thumb {
    margin-top: 40px;
    height: 640px;
    margin-bottom: 0;
}
.post--vertical-rectangle-reverse .post__thumb a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.post--vertical-rectangle-reverse .post__meta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}







.nav-dots-horizontal .owl-next,
.nav-dots-horizontal .owl-prev {
    top: auto;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 7.5px 0;
    z-index: 2;
}
.nav-dots-horizontal .owl-next svg,
.nav-dots-horizontal .owl-prev svg {
    display: block;
}

.nav-dots-horizontal .owl-next {
    -webkit-transform: translateX(calc(30px - 7.5px));
    -ms-transform: translateX(calc(30px - 7.5px));
    transform: translateX(calc(30px - 7.5px)); /*30px spacing for icon, 7.5px is padding of the span.dots*/
}
.nav-dots-horizontal .owl-prev {
    -webkit-transform: translateX(calc(-100% - 30px + 7.5px));
    -ms-transform: translateX(calc(-100% - 30px + 7.5px));
    transform: translateX(calc(-100% - 30px + 7.5px)); /*30px spacing for icon, 7.5px is padding of the span.dots*/
}
.atbs-featured-module-1 .atbs-carousel .owl-dots {
    padding-top: 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .atbs-featured-module-4 .atbs-block__inner {
        padding-bottom: 100px;
        padding-top: 80px;
    }

    .post--vertical-rectangle-reverse .post__thumb {
        height: 570px;
        margin-bottom: 0;
    }
}
@media (max-width: 1199px) {
    .atbs-featured-module-4 .atbs-block__inner {
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .post--vertical-rectangle-reverse .post__thumb {
        height: 500px;
        margin-bottom: 0;
    }
}
@media (max-width: 991px) {
    .atbs-featured-module-4  .owl-carousel {
        padding: 0 30px;
    }
    .atbs-featured-module-4 .atbs-block__inner {
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .post--vertical-rectangle-reverse .post__thumb {
        height: 450px;
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .atbs-featured-module-4  .owl-carousel {
        padding: 0;
    }
    .atbs-featured-module-4 .atbs-block__inner {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .post--vertical-rectangle-reverse .post__title {
        margin-bottom: 0;
    }
    .post--vertical-rectangle-reverse .post__meta {
        display: none;
    }
    .post--vertical-rectangle-reverse .post__thumb {
        height: 350px;
        margin-bottom: 0;
        margin-top: 25px;
    }
}

@media (max-width: 575px) {
    .atbs-featured-module-4 .atbs-block__inner {
        padding-bottom: 35px;
        padding-top: 50px;
    }
    .atbs-featured-module-4  .owl-carousel .owl-dots {
        padding-top: 20px;
    }

    .post--vertical-rectangle-reverse .post__thumb {
        height: 300px;
        margin-bottom: 0;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .post--vertical-rectangle-reverse .post__thumb {
        height: 250px;
    }
}
